/*

Esse CSS contém todos os estilos de todas as paginas, sendo eles aqueles idependentes destinados a um objeto

 Confiugurações gerais
*/
*{outline:none ;}
body{background-color: rgb(250, 250, 250);font-family: 'Quicksand', sans-serif; outline-color: transparent;margin: 0; overflow-x: hidden !important;}
a{color: rgb(134, 134, 134);font-weight: 100 !important;}


::-webkit-scrollbar {width: 8px; height: 8px;}
::-webkit-scrollbar-button {width: 0px; height: 0px;}
::-webkit-scrollbar-thumb {background: #ececec; border-radius: 50px; padding: .1em; border: 1px solid #ffffff;}
::-webkit-scrollbar-thumb:hover {background: #dadada;}
::-webkit-scrollbar-track {background: #00000000; border-radius: 50px;}

/* Nav que contém todo o conteúdo dos menus */

.navbar{
    margin: 1em;
    background: white;
    box-shadow: 0px 20px 10px -20px rgba(231, 231, 231, 0.815);
    padding: 1em;
    border-radius: 20px;
}

.nav-logo{
    position: absolute;
    font-size: 20pt;
    font-weight: 100 !important;
    padding: 12px;
    cursor: pointer;
}

.nav-logo img{
    max-width: 40px;
    margin-right: 10px;
    margin-bottom: -11px;
    margin-top: -10px;
}

.nav-menu li{
    display: inline;
    margin-right: 20px;
}

.nav-menu li a{
    transition: color .1s;
    text-decoration: none;
    font-size: 16pt;
}

.nav-menu li a:hover{
    color: rgb(0, 0, 0);
}



/* Corpo da pagina inicial */

#img-saudacoes{
    max-width: 90% !important;
}
.saudacoes button{
    border: 0;
    border-radius: 100px;
    background: rgb(96,255,173);
    background: linear-gradient(270deg, rgba(96,255,173,1) 0%, rgba(140,255,129,1) 100%);
    color: rgb(255, 255, 255);
    padding: .8em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.103);
    box-shadow: 0px 20px 10px -20px rgba(0, 255, 0, 0.671);
    cursor: pointer;
    transition: font-size .2s;
}

.saudacoes button:hover{
    font-size: 15.5pt;
}

.saudacoes .text-lg{
    text-align: justify;
    position: relative;
    margin-top: 20%;
    color: silver;
    font-weight: 300;
    opacity: 0%;
    left: -5em;
}


/* Corpo */

.corpo{
    margin-top: 200px;
}

.corpo .text-md{
    color: grey;
    margin-left: -5em;
    opacity: 0%;
}

.grid-mvv{
    opacity: 0%;
    /* display: inline !important; */
}

.grid-mvv .col{
    border: solid 1px rgb(245, 245, 245);
    /* background: linear-gradient(270deg, rgba(96,255,173,1) 0%, rgba(140,255,129,1) 100%); */
    background-color:  rgba(96,255,173,1);
    box-shadow: 0px 30px 20px -30px #8cff81;
    border-radius: 20px;
    margin-bottom: 3em;
    margin-top: 3em;
    transition: all .1s ease-in-out;
}

.grid-mvv .col:hover{
    transform: scale(1.01);
}

.grid-mvv .col h3{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 17pt;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
}

.grid-mvv .col p{
    color:rgb(255, 255, 255);
    text-align: justify;
    font-size: 17pt;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.233);
}


/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* Pagina de sobre */
.container-sobre{
    padding: 3em;
    z-index: 1 !important;
}

.container-sobre .text-md{
 color: rgb(73, 73, 73);
 margin-top: 2em;
}

.container-sobre .text-sm{
    color: grey;
    text-align: justify;
}

.container-sobre .text-sm a{
    color: grey;
    text-decoration: none;
}

.container-sobre .text-sm img{
    max-width: 300px;
    border: grey;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    margin-left: 1em;
}


/* +========================================================+ */
/* Area da pagina de Equipe */

.container-equipe{
    margin-top: 5em;
    margin-bottom: 5em;
}

.topo small{
    color: rgb(80, 165, 0);
}

.img-equipe{
    border-radius: 100%; 
    max-width: 150px;
    box-shadow: 0px 20px 10px -20px rgba(0, 0, 0, 0.377);
    margin-top: -2em;
}

.nome-equipe{
    color: grey;
    margin-left: 1em;
}

.curriculo{
    padding: 2em;
    background-color: white;
    box-shadow: 0px 20px 10px -20px rgba(0, 0, 0, 0.151);
    border-radius: 20px;
}


/* +========================================================+ */
/* Area da pagina de Contato */

.container-contato label{
    position: relative;
    left: 1.5em;
    top: .7em;
    font-weight: 600;
    font-size: 15pt;
    color: grey;
}

.container-contato input{
    border: 0;
    box-shadow: 0px 20px 10px -20px rgba(0, 0, 0, 0.151);
    height: 40px;
    width: 400px;
    border-radius: 100px;
    padding-left: 1.5em;
    font-size: 12pt;
    margin-bottom: 1em;
}

.container-contato textarea{
    border: 0;
    box-shadow: 0px 20px 10px -20px rgba(0, 0, 0, 0.151);
    height: 200px;
    width: 400px;
    max-width: 400px;
    border-radius: 30px;
    padding: 1.5em;
    font-size: 12pt;
    margin-bottom: 2em;
    resize: vertical;
}

.container-contato textarea{
    font-family: 'Quicksand', sans-serif;
    border: 0;
    box-shadow: 0px 20px 10px -20px rgba(0, 0, 0, 0.151);
    height: 200px;
    width: 400px;
    max-width: 400px;
    border-radius: 30px;
    padding: 1.5em;
    font-size: 12pt;
    margin-bottom: 2em;
    resize: vertical;
}

.container-contato button{
    border: 0;
    border-radius: 100px;
    font-size: 13pt;
    background: rgb(96,255,173);
    background: linear-gradient(270deg, rgba(96,255,173,1) 0%, rgba(140,255,129,1) 100%);
    color: rgb(255, 255, 255);
    padding: .7em;
    text-shadow: 2px 2px 4px rgba(58, 58, 58, 0.233);
    box-shadow: 0px 20px 10px -20px rgba(0, 255, 0, 0.671);
    cursor: pointer;
}